flows/Account_Related_Contacts_Updated_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_To_Contacts</name>
        <label>Assign To Contacts</label>
        <locationX>818</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CollectiontoAllContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contact_Records_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contact_Records_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_to_Contacts</name>
        <label>Assignment to Contacts</label>
        <locationX>826</locationX>
        <locationY>303</locationY>
        <assignmentItems>
            <assignToReference>Loop_Contact_Records_List.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_Contacts</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Account Related Contacts Updated Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Related Contacts Updated Flow</label>
    <loops>
        <name>Loop_Contact_Records_List</name>
        <label>Loop Contact Records List</label>
        <locationX>471</locationX>
        <locationY>308</locationY>
        <collectionReference>Get_Contact_Records_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_to_Contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Records_List</name>
        <label>Get Contact Records List</label>
        <locationX>471</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contact_Records_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Records</name>
        <label>Update Contact Records</label>
        <locationX>266</locationX>
        <locationY>420</locationY>
        <inputReference>CollectiontoAllContacts</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contact_Records_List</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CollectiontoAllContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
