flows/Create_Record_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assigned_to_Account_Records</name>
        <label>Assigned to Account Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>accRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TestAccountFlow3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accRecord.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accRecord1.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TestAccountFlow4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accRecord1.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>accRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>accRecord1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create Record Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Record Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Create_Get_Account_Id</targetReference>
        </connector>
        <inputReference>AccountRecordList</inputReference>
    </recordCreates>
    <screens>
        <name>Create_Get_Account_Id</name>
        <label>Create Get Account Id</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayAccId</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Account Id&lt;/strong&gt; :  {!AccountRecordList}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assigned_to_Account_Records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accRecord1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
