flows/Decision_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>Cricket</name>
        <choiceText>Cricket</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cricket</stringValue>
        </value>
    </choices>
    <choices>
        <name>Football</name>
        <choiceText>Football</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Football</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tennis</name>
        <choiceText>Tennis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tennis</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Selection_Decision</name>
        <label>Selection Decision</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Screen_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isCricket_Option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selection_an_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cricket</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cricket_Screen</targetReference>
            </connector>
            <label>isCricket Option?</label>
        </rules>
        <rules>
            <name>isFootball</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selection_an_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Football</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Football</targetReference>
            </connector>
            <label>isFootball?</label>
        </rules>
        <rules>
            <name>isTennis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selection_an_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Tennis</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Tennis</targetReference>
            </connector>
            <label>isTennis?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Decision Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Decision Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Cricket_Screen</name>
        <label>Cricket Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Cricket</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(3, 241, 43);&quot;&gt;Your Selected Cricket&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Default</name>
        <label>Screen Default</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_default</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(231, 12, 30);&quot;&gt;Please select any option&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Football</name>
        <label>Screen Football</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_football</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(35, 228, 13); font-size: 18px;&quot;&gt;Your selected Football&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Tennis</name>
        <label>Screen Tennis</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_tennis</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(60, 231, 17);&quot;&gt;Your selected Tennis&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selection_Screen_Decision</name>
        <label>Selection Screen Decision</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selection_Decision</targetReference>
        </connector>
        <fields>
            <name>Selection_an_Option</name>
            <choiceReferences>Cricket</choiceReferences>
            <choiceReferences>Football</choiceReferences>
            <choiceReferences>Tennis</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection an Option</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Selection_Screen_Decision</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
