flows/Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Number_Value</name>
        <label>Assign Number Value</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>const100</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>10</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>20</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>30</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Screen_1</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>const100</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10000.0</numberValue>
        </value>
    </constants>
    <environments>Default</environments>
    <formulas>
        <name>todaysinfo</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Copy_1_of_Screen_1</name>
        <label>Copy 1 of Screen 1</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayMsg1</name>
            <fieldText>&lt;p&gt;Record Id : {!recordId}&lt;/p&gt;&lt;p&gt;Number :  {!Number}&lt;/p&gt;&lt;p&gt;Number Collection : {!intList}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Today Info :  {!todaysinfo}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Number_Value</targetReference>
        </connector>
        <fields>
            <name>DisplayMsg</name>
            <fieldText>&lt;p&gt;Record Id : {!recordId} and {!Number}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>intList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
