flows/Update_Closed_Opp_Description.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Description_of_Opportunity</name>
        <label>Set Description of Opportunity</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity has been closed. It&apos;s time to celebrate</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>If_StageName_has_been_changed_to_Closed_Won</name>
        <label>If StageName has been changed to Closed Won</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Stage is not Closed Won</defaultConnectorLabel>
        <rules>
            <name>Stage_is_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Description_of_Opportunity</targetReference>
            </connector>
            <label>Stage is Closed Won</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Closed Opp Description {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Closed Opp Description</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_StageName_has_been_changed_to_Closed_Won</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
