flows/Update_Record_for_Account.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>updateAccountRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateAccountRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TestUpdateFlow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateAccountRecord.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateAccountRecord.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>9191919191</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Record_Flow</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Record for Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Record for Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Account_Record_Flow</name>
        <label>Update Account Record Flow</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputReference>updateAccountRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Account_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
